Adds 1.21.11 support for Staff++.

Requires:

1.21.11 support staffplusplus-craftbukkit-compatibility#14
For anyone who need this:

How to build when nexus is offline
Create the file ~/.m2/settings.xml temporarily with:

<settings>
  <profiles>
    <profile>
      <id>temp-repo</id>
      <repositories>
        <repository>
          <id>codemc-repo</id>
          <url>https://repo.codemc.io/repository/maven-public/</url>
          <layout>default</layout>
        </repository>
        <repository>
          <id>Scarsz-Nexus</id>
          <url>https://nexus.scarsz.me/content/groups/public/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>temp-repo</activeProfile>
  </activeProfiles>
</settings>
Build with mvn package

Fixes #268

